[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Is-Dev (enzoo96)
[access "refs/for/refs/*"]
	read = group user/Is-Dev (enzoo96)
	push = group user/Is-Dev (enzoo96)
	label-Code-Review = -2..+2 group user/Is-Dev (enzoo96)
	label-Verified = -1..+1 group user/Is-Dev (enzoo96)
	rebase = group user/Is-Dev (enzoo96)
	removeReviewer = group user/Is-Dev (enzoo96)
	submit = group user/Is-Dev (enzoo96)
[access "refs/heads/*"]
	read = group user/Is-Dev (enzoo96)
	create = group user/Is-Dev (enzoo96)
	push = +force group user/Is-Dev (enzoo96)
	pushMerge = group user/Is-Dev (enzoo96)
[access "refs/tags/*"]
	push = group user/Is-Dev (enzoo96)
	push = +force group user/Is-Dev (enzoo96)
